

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  background-image: url(./background.jpg);
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 20px;

}

.container .search-space {
  height: 45px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.container .search-space i {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
}

.container .search-space input {
  all: unset;
  height: 45px;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}

.container .info-box{
  background: #fff;
  margin-top: 5px;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
  width: 350px;
}

.container .info-box .color-box{
  height: 330px;
  width: 330px;
  border-radius: 100%;
  background: #f0932b;
  margin-top: -180px;
  margin-left: 2px;
}

.container .info-box img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -40px;
  height: 200px;
  width: 200px;
}

.container .info-box .color-box .pokemon-id {
  padding: 4px;
  width: 60px;
  position: absolute;
  top: 85px;
  right: 35px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.container .info-box .pokemon-name {
  text-align: center;
  margin-top: 65px;
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
}

.container .info-box .pokemon-types{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 17px;
  height: 40px;
}

.container .info-box .pokemon-types .types-style{
 padding: 5px 13px 5px 13px;
 background-color: #f0932b;
 border-radius: 30px;
 width: 200px;
 color: #fff;
 margin-left: 25px;
 position: relative;
 top: 10px;
 left: -15px;
 font-size: 18px;
 font-style: italic;
 
}

.container .info-box .pokemon-stats {
  height: 150px;
  margin-top: 50px;
  margin-left: 25px;
  text-transform: capitalize;
  font-weight: 600;
}

.pokemon-stats .stat-elem {
  height: 65px;
  width: 70px;
  margin-left: 25px;
  float: left;
  position: relative;
  left: -15px;
  display: flex;
  justify-content: center;
}

.pokemon-stats .stat-elem .stat-name{
  margin-top: 35px;
  color: rgb(254, 0, 0);
  font-size: 14px;
}

.pokemon-stats .stat-elem .stat-value{
  position: absolute;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 700;
}

.stat-elem:nth-child(4) .stat-name,
.stat-elem:nth-child(5) .stat-name{
  font-size: 12px;
  text-align: center;
}

.navigation-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  transition: background 0.3s ease;
}

@media (min-width: 500px) and (max-width: 800px) {
  
  body {
    background-image: url(./background-mobile.jpg);
    background-size: cover;
  }

  .container {
    left: 50%;
  }

  .container .info-box {
    background-color: rgba(244, 244, 244, 0.4);
  }

  .toastify {
    font-size: 14px !important;   /* Reducir el tamaño del texto */
    width: 90% !important;        /* Hacer la notificación más estrecha */
    max-width: 300px !important;  /* Limitar el ancho máximo */
  }

}